@import '../styles/reset.css';
@import '../styles/theme.css';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-bg);
}